
*{
	margin: 0;
	padding: 0;
}

.no-transition{transition: none 0s ease !important; -webkit-transition: none 0s ease !important; -moz-transition: none 0s ease !important; -o-transition: none 0s ease !important}
.no-select{-webkit-touch-callout: none !important; -webkit-user-select: none !important; -khtml-user-select: none !important; -moz-user-select: none !important; -ms-user-select: none !important; user-select: none !important}
.no-break{overflow: hidden !important; text-overflow: ellipsis !important; white-space: nowrap !important}
.no-shadow{-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important}
.no-radius{-webkit-border-radius: 0px !important; -moz-border-radius: 0px !important; border-radius: 0px !important}

.shadow_2{-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2); box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2)}
.shadow_4{-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4); box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4)}

.radius_5{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px}
.radius_10{-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px}

.error{font-weight: 500;color: #c35c08;font-size: 14px;}
.dhidden{display: none}

.modal-dialog{margin-top: 25px}
.modal-header{background-color: #56100D; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px}
.modal-header h4{color: #fff; text-transform: uppercase; font-family: "regular", sans-serif}
.modal-body p{padding: 15px; margin: 0; font-size: 16px}

.title-admin{text-transform: none !important; font-family: Open Sans, Helvetica, sans-serif !important}
.header-admin{background-color: #777777}
.body-admin{padding-top: 10px}

/*GERENCIADOR*/
.admin_login{background-color: #777}
.body_admin{background-color: #eee;min-width: 1000px;}
.body_admin *{font-family: Open Sans, Helvetica, sans-serif}

.login_table{text-align: center;padding: 24px 0px 18px;background-color: #ffffff;width: 360px;margin: 10% auto 45px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 4px;/* -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2); */-moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);/* box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2); */}
.login_table img{width: 74%;margin-top: 15px;}
.login_table table{text-align: center;margin: auto;width: 88%;}
.login_table td{padding: 0px 10px; vertical-align: middle}
.login_table h3{margin-bottom: 20px;font-size: 33px;text-transform: uppercase;font-weight: 600;color: #eee;}
.login_table h4{font-size: 17px}
.login_table input{font-size: 14px;margin: 0px;-webkit-box-shadow: none;box-shadow: none;-webkit-transition: none;-o-transition: none;transition: none;}
.login_table input[type=submit]{margin-top: 20px;margin-bottom: 15px;width: 100%;text-transform: uppercase;letter-spacing: 1px;padding: 10px 0;background: #20365b;border: #20365b;00color:color:color:}

.logo_admin{min-width: 1000px;background-color: #000;}
.logo_admin img{padding: 15px 15px;background-color: #fff;margin: 20px 15px;max-width: 234px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 5px;-webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);}

.nav_admin{-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;min-width: 1000px;font-size: 14px;border: none;}
.nav_admin div.navbar-collapse, .nav_admin div.container-fluid{padding: 0px; margin: 0px}
.nav_admin ul.nav{margin: 0px 20px;}

.nav_admin ul > li {
    position: relative;
}

.nav_admin ul > li > ul {
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    background: #ccc;
    padding-left: 0;
    /* width: 175px; */
    z-index: 1;
    -webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.2);
}

.nav_admin ul > li > ul a {
    color: #777;
    font-size: 14px;
    display: block;
    padding: 11px 15px;
    width: 100%;
    background: #eee;
    text-decoration: none;
    white-space: nowrap;
}

.nav_admin ul li:hover {
    background-color: #ccc !important;
}

.nav_admin ul li ul {
    display: none;
}

.nav_admin ul li:hover ul {
    display: block;
}

.nav_admin ul > li > ul a:hover, .nav_admin li li.active a {
    background: #348494;
    color: #fff;
}

.log{float: right;padding: 8px 90px 7px 15px;margin-right: 20px;margin-top: 60px;background: #fff;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;-webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);vertical-align: middle;font-size: 14px;position: relative;}

.log a {
    display: block;
    background: #20365b;
    position: absolute;
    top: 0;
    right: -1px;
    width: 60px;
    text-align: center;
    padding: 9px 7px 9px;
    text-decoration: none;
    border-radius: 0 18px 18px 0px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
}

.log a:hover {
    background: #fdd276;
    color: #000;
}
.log span{padding: 3px;display: block;float: left;font-size: 12px;}

.wrap_admin{min-width: 1000px}
.header_admin{float: left;color: #cecece;margin: 0px 20px;text-transform: uppercase;font-size: 20px;}
.content_admin{/* padding: 20px; *//* background-color: #f5f5f5; */margin: 20px;/* -webkit-border-radius: 20px; */-moz-border-radius: 20px;/* border-radius: 20px; *//* -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2); */-moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);/* box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2); */}

.table_admin{width: 100%}
.table_admin thead td{background-color: #1d1d1d !important; border: 1px solid #777; text-align: center; color: #fff}
.table_admin td{border: 1px solid #555;padding: 5px 10px;vertical-align: middle;}
.table_admin tr:hover{background-color: #ccffcc}

.td_icon{width: 25px; padding: 5px; text-align: center}
.td_icon a{cursor: pointer}
.td_icon img{max-width: 25px}

.form-my-control{width: 700px; min-width: 700px; max-width: 700px}
textarea.form-my-control{min-height: 100px}

.obs_admin{color: #777; font-weight: 500}
.img_admin{max-width: 200px}

.carousel-fade .carousel-inner .item {opacity: 0; -webkit-transition-property: opacity; -moz-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity}
.carousel-fade .carousel-inner .active {opacity: 1}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {left: 0; opacity: 0; z-index: 1}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {opacity: 1}
.carousel-fade .carousel-control {z-index: 2}

.glyphicon{font-family: 'Glyphicons Halflings', sans-serif !important}

.alter_img{position: relative; float: left; padding: 13px}
.alter_img div a{display: block}
.alter_img div img{width: 200px; border: 1px solid #ccc; cursor: pointer}
.alter_close{position: absolute; top: 0; left: 0; z-index: 50}

.mfp-fade.mfp-bg {opacity: 0; -webkit-transition: all 0.15s ease-out; -moz-transition: all 0.15s ease-out; transition: all 0.15s ease-out}
.mfp-fade.mfp-bg.mfp-ready {opacity: 0.8}
.mfp-fade.mfp-bg.mfp-removing {opacity: 0}
.mfp-fade.mfp-wrap .mfp-content {opacity: 0; -webkit-transition: all 0.15s ease-out; -moz-transition: all 0.15s ease-out; transition: all 0.15s ease-out; transform: scale(0.8)}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {opacity: 1; transform: scale(1)}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {opacity: 0; transform: scale(0.8)}
.body-login{
	background: #20365b;
}

.body-login .form-control{
	margin-bottom: 10px;
	height: 40px;
	border: 1px solid #ddd;
}


#page_list{
    list-style: none;
    width: 100%;
}

#page_list li{
    padding:16px;
    background-color:#f9f9f9;
    border:1px dotted #ccc;
    cursor:move;
    margin-top:12px;
    float: left;
    width: 240px;
    height: 180px;
    margin-left: 10px;
    float: left;
    display: block;
}

#page_list li img{
    width: 100%;
}

#page_list li.ui-state-highlight{
    padding:24px;
    width: 240px;
    height: 180px;
    background-color:#ffffcc;
    border:1px dotted #ccc;
    cursor:move;
    margin-top:12px;
}